<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="./css/style.css" />
		<link rel="stylesheet" href="./font/iconfont.css" />
	</head>
	<body>
		<div id="app">
			<!-- 头部 -->
			<div class="header">
				<div class="left">
					<i class="iconfont">&#xe620;</i>
				</div>
				<div class="mid">toDoList</div>
				<div class="right" @click='showEditMask'>
					<i class="iconfont">&#xe616;</i>
				</div>
			</div>

			<!-- 内容部分 -->
			<div class="content">
				<div class="box" v-for='item of todos'>
					<div class="info">{{item.task}}</div>
					<div class="check">
						<i class="iconfont">&#xe61b;</i>
					</div>
					<div class="delete" @click='showDeleteTipsMask'>
						<i class="iconfont">&#xe617;</i>
					</div>
				</div>
			</div>

			<!-- 底部 -->
			<div class="footer">
				<div class="all">所有</div>
				<div class="finish">完成</div>
				<div class="unfinish">未完成</div>
			</div>

			<!-- 添加信息弹出框 -->
			<div class="edit-mask" v-show='editMaskFlag' @click.self="hideEditMask">
				<div class="mask">
					<input type="text" placeholder="请输入代办事项" v-model='inputBoxVal'/>
					<div class="determine" @click='add'>确定</div>
					<div class="cancel" @click='hideEditMask'>取消</div>
				</div>
            </div>
            
            <!-- 删除信息弹出框 -->
            <div class="edit-mask" v-show='deleteMaskFlag' @click.self="hideDeleteTipsMask">
				<div class="mask">
					<p>是否删除？</p>
					<div class="determine">确定</div>
					<div class="cancel" @click='hideDeleteTipsMask'>取消</div>
				</div>
            </div>
		</div>
		<script src="./lib/vue.js"></script>
		<script src="./js/index.js"></script>
	</body>
</html>
